/*
 Theme Name:   Gonzalo Bonini
 Theme URI:    https://www.altg.io
 Description:  Gonzalo Bonini
 Author:       Gonzalo Bonini
 Author URI:   https://www.altg.io
 Template:     shapely
 Version:      0.5.3
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  understrap-child
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
 GitHub Theme URI: holger1411/understrap-child
*/

.resultado {
  width: 30rem;
}

.resultado span {
  font-weight: bold;
}
